@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  .scrollbar-hide::-webkit-scrollbar-thumb {
    background: transparent !important;
  }

  .scrollbar-hide::-webkit-scrollbar-track {
    background: transparent !important;
  }

  .scrollbar-hide {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}
